@import '../../../scss/variables';

$tag-prefix-cls: $prefix + -tag;

.#{$tag-prefix-cls} {

  align-items: center;
  padding: 0 6px;

  color: #1989fa;
  line-height: 26px;
  font-size: 12px;

  border-radius: 4px;
  box-sizing: border-box;
  white-space: nowrap;

  border: 1px solid #afd6fd;
  background-color: #ebf5ff;

  &.#{$tag-prefix-cls}-primary {
    color: $white;
    border: 1px solid var(--eu-color-primary);
    background-color: var(--eu-color-primary);
  }

  &.#{$tag-prefix-cls}-positive {
    color: $white;
    border: 1px solid var(--eu-color-positive);
    background-color: var(--eu-color-positive);
  }

  &.#{$tag-prefix-cls}-warning {
    color: $white;
    border: 1px solid var(--eu-color-warning);
    background-color: var(--eu-color-warning);
  }

  &.#{$tag-prefix-cls}-danger {
    color: #fff;
    border: 1px solid var(--eu-color-danger);
    background-color: var(--eu-color-danger);
  }

  &.#{$tag-prefix-cls}-info {
    color: #fff;
    border: 1px solid var(--eu-color-info);
    background-color: var(--eu-color-info);
  }

  &.#{$tag-prefix-cls}-xl {
    line-height: 32px;
    font-size: 16px;
  }


  &.#{$tag-prefix-cls}-lg {
    line-height: 30px;
    font-size: 14px;
  }

  &.#{$tag-prefix-cls}-md {
    line-height: 28px;
    font-size: 12px;
  }

  &.#{$tag-prefix-cls}-sm {
    line-height: 24px;
    font-size: 10px;
  }

  &.#{$tag-prefix-cls}-xs {
    line-height: 20px;
    font-size: 10px;
  }


  .#{$tag-prefix-cls}-icon {
    display:flex;
    align-items: center;
    justify-content: center;
    padding-left: 4px;
    cursor: pointer;
  }
}
