body {
  background: #111;
  font-family: Avenir, Helvetica, sans-serif;
}

main a {
  text-decoration: none;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  font-size: 0;
}

section time {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-width: 14.2857%;
  max-width: 14.2857vw;
  position: relative;
  font-size: 1.8vw;
  line-height: 0;
  -webkit-transition: .35s opacity;
  transition: .35s opacity;
}

section time.blank {
  min-height: 14vw;
}

section time a {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: inherit;
  border-bottom: none;
  outline: none;
}

section time span {
  position: absolute;
}

span.caldate {
  top: 10%;
  left: 7px;
  z-index: 2;
}

section time.blank span.caldate {
  color: #333;
}

section time a span.title {
  width: 100%;
  height: 100%;
  line-height: 1.1;
  left: 0;
  top: 0;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 20%;
  opacity: 0;
  -webkit-transition: .4s opacity;
  transition: .4s opacity;
}

section time:hover a span.title {
  background: rgba(0, 0, 0, 0.8);
  opacity: 1;
}

section time a:hover {
  border-bottom: none;
}

time:not(.blank) span {
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

section time a img {
  width: 100%;
}

.hidden {
  opacity: 0;
}

@media all and (max-width: 950px) {
  section time.blank {
    display: none;
  }

  section time {
    min-width: 20%;
    max-height: 20vw;
    max-width: 20vw;
    font-size: 3vw;
  }
}
@media all and (max-width: 750px) {
  section time {
    min-width: 33%;
    max-height: 33vw;
    font-size: 5vw;
  }
}
@media all and (max-width: 450px) {
  section time {
    min-width: 50%;
    max-height: 50vw;
    font-size: 5vw;
  }
}
