.e-divider-horizontal {
  position: relative;
  clear: both;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  margin: 20px 0;
  border-bottom: 1px solid var(--e-color-grey);
}

.e-divider-horizontal.e-divider-with-text {
  margin: 20px 0;
}

.e-divider-vertical {
  display: inline-block;
  min-width: 1px;
  max-width: 1px;
  height: 1em;
  margin: 0 12px;
  vertical-align: middle;
  border-left: 1px solid var(--e-color-grey);
}

.e-divider-text {
  position: absolute;
  top: 50%;
  box-sizing: border-box;
  padding: 0 16px;
  color: #000;
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
  background: var(--e-color-grey);
  transform: translateY(-50%);
}

.e-divider-text-center {
  left: 50%;
  transform: translate(-50%, -50%);
}

.e-divider-text-left {
  left: 24px;
}

.e-divider-text-right {
  right: 24px;
}
