@import '../../../scss/variables';

$button-prefix-cls: $prefix + -button;

.#{$button-prefix-cls} {
  position: relative;
  display: inline-flex;
  align-items: stretch;
  width: auto;
  height: auto;
  padding: 2px 16px;
  font-size: 14px;
  line-height: 1.715em;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  outline: 0;
  border: 0;
  border-radius: 4px;

  & .loading {
    display: flex;
    align-items: center;
    padding-right: 0.2rem;
  }
  & .inner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 10000 1 0%;
  }
  &:hover {
    opacity:$button-opacity;
  }

  &:active {
    opacity:$button-opacity;
    box-shadow: $button-box-shadow-active;
  }

  &::before {
    border-radius: inherit;
    bottom: 0;
    box-shadow: $button-box-shadow;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  &.disabled {
    opacity: 0.7 !important;
    cursor: not-allowed !important;
    outline: 0 !important;
    box-shadow: none;
  }

  &.plain {
    background: none !important;
    color:var(--eu-color-primary) !important;

    &::before {
      box-shadow: none;
    }
  }

  &.round {
    border-radius: 50%;
    padding: 0;
    min-width: 3em;
    min-height: 3em;
  }

  &.circle {
    border-radius: 50%;
  }

  &.loading {
    display: flex;
    align-items: center;
    width: 1.2em;
    margin-right: 4px;
    margin-top: -2px;
  }

  &--xs {
    font-size: $button-size-xs;
  }

  &--sm {
    font-size: $button-size-sm;
  }

  &--md {
    font-size: $button-size-md;
  }

  &--lg {
    font-size: $button-size-lg;
  }

  &--xl {
    font-size: $button-size-xl;
  }

}

