.eu-back-top {
  position: fixed;
  z-index: 99;
  transition: all 0.5s;

  a {
    display: block;
    padding: 10px;
    color: #f2f3f5;
    text-align: center;
    border-radius: 2px;
    background: #1989fa;
    cursor: pointer;
  }
}
