@import '../../../scss/variables';


$dot-loading-prefix-cls: #{$prefix}-dot-loading !default;
$spin-prefix-cls: #{$prefix}-spin !default;
.#{$dot-loading-prefix-cls} {
	position: relative;
	display: inline-block;
	width: 56px;
	height: 8px;
	transform-style: preserve-3d;
	perspective: 200px;


	&-item {
		position: absolute;
		top: 0;
		left: 50%;
		width: 8px;
		height: 8px;
		background-color: #000000;
		border-radius: 4px;
		transform: translateX(-50%) scale(0);
		animation: arco-dot-loading 2s cubic-bezier(0,0,1,1) infinite forwards;
		&:nth-child(2) {
			background-color: #000000;
			animation-delay: 400ms;
		}
		&:nth-child(3) {
			background-color: #000000;
			animation-delay: 800ms;
		}
		&:nth-child(4) {
			background-color: #000000;
			animation-delay: 1200ms;
		}
		&:nth-child(5) {
			background-color: #000000;
			animation-delay: 1600ms;
		}
	}
}

.#{$spin-prefix-cls} {
	display: inline-block;


	&-with-tip {
		text-align: center;
	}
	&-icon {
		color: #000000;
		font-size: 20px;
	}
	&-tip {
		margin-top: 6px;
		color: #000000;
		font-weight: 500;
		font-size: 14px;
	}
	&-mask {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 11;
		text-align: center;
		background-color: #eee;
		transition: opacity 0.1s cubic-bezier(0,0,1,1);
		user-select: none;
	}



}
