@import '../../../scss/variables';

$dialog-prefix-cls: $prefix + -dialog;
$dialog-mask-prefix-cls: $dialog-prefix-cls + '-mask';
$dialog-container-prefix-cls: $dialog-prefix-cls + '-container';
$dialog-wrapper-prefix-cls: $dialog-prefix-cls + '-wrapper';
.#{$dialog-container-prefix-cls} {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.#{$dialog-mask-prefix-cls} {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #272c36;
  opacity: 0.3;
}

.#{$dialog-wrapper-prefix-cls} {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  text-align: center;
  white-space: nowrap;

  &::after{
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
    content: "";
    white-space: nowrap;
  }
}

.#{$dialog-prefix-cls} {
  position: relative;
  top: 0;
  display: inline-block;
  width: 520px;
  margin: 0 auto;
  line-height: 1.5715;
  white-space: initial;
  text-align: left;
  border-radius: 6px;
  vertical-align: middle;


  &-header {
    display: flex;

    .title {
      width: 95%;
    }

    .close {
      text-align: center;
      cursor: pointer;
      width: 5%;
    }
  }

  &-content {
    position: relative;
    background-color: #ffffff;
    border-radius: 6px;
    outline: 0;
    box-shadow: 0 4px 4px rgb(0 0 0 / 12%), 0 0 10px rgb(0 0 0 / 6%);
    padding: 20px;

  }


  &-footer {
    text-align: end;

    .confirm {
      margin-right: 10px;
    }
  }

}

.eu-dialog-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.eu-dialog-enter,
.fade-leave-to {
  opacity: 0;
}
