.eu-notify-list {
  position: fixed;
  z-index: 1003;
}

.eu-notify-list-top-left {
  top: 20px;
  left: 20px;
}

.eu-notify-list-top-right {
  top: 20px;
  right: 20px;

  .eu-notify {
    margin-left: auto;
  }
}

.eu-notify-list-bottom-left {
  bottom: 20px;
  left: 20px;
}

.eu-notify-list-bottom-right {
  right: 20px;
  bottom: 20px;

  .eu-notify {
    margin-left: auto;
  }
}

.eu-notify {
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: 340px;
  margin-bottom: 20px;
  padding: 20px 20px 20px 20px;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid rgb(229,230,235);
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  opacity: 1;
  transition: opacity 0.2s cubic-bezier(0, 0, 1, 1);
}

.eu-notify-icon {
  display: inline-flex;
  align-items: center;
  font-size: 24px;
}

.eu-notify-info {
  background-color: #fff;
  border-color: rgb(229,230,235);

  .eu-notify-icon {
    color: rgb(22,93,255);
  }
}

.eu-notify-success {
  background-color: #fff;
  border-color: rgb(229,230,235);

  .eu-notify-icon {
    color: rgb(0,180,42);
  }
}

.eu-notify-warning {
  background-color: #fff;
  border-color: rgb(229,230,235);

  .eu-notify-icon {
    color: rgb(255,125,0);
  }
}

.eu-notify-error {
  background-color: #fff;
  border-color: rgb(229,230,235);

  .eu-notify-icon {
    color: rgb(245,63,63);
  }
}

.eu-notify-left {
  padding-right: 16px;
}

.eu-notify-right {
  flex: 1;
  word-break: break-word;
}

.eu-notify-title {
  margin-bottom: 4px;
  color: rgb(29,33,41);
  font-weight: 500;
  font-size: 16px;
}

.eu-notify-content {
  color: rgb(29,33,41);
  font-size: 14px;
}

.eu-notify-info {
  .eu-notify-title, .eu-notify-content {
    color: rgb(29,33,41);
  }
}

.eu-notify-success {
  .eu-notify-title, .eu-notify-content {
    color: rgb(29,33,41);
  }
}

.eu-notify-warning {
  .eu-notify-title, .eu-notify-content {
    color: rgb(29,33,41);
  }
}

.eu-notify-error {
  .eu-notify-title, .eu-notify-content {
    color: rgb(29,33,41);
  }
}

.eu-notify-footer {
  margin-top: 16px;
  text-align: right;
}

.eu-notify-close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  color: rgb(29,33,41);
  font-size: 12px;
  cursor: pointer;

  > svg {
    position: relative;
  }
}

.eu-notify .arco-icon-hover.eu-notify-icon-hover::before {
  width: 20px;
  height: 20px;
}

.slide-left-notify-enter-from, .slide-left-notify-appear-from {
  transform: translateX(-100%);
}

.slide-left-notify-enter-to, .slide-left-notify-appear-to {
  transform: translateX(0);
}

.slide-left-notify-enter-active, .slide-left-notify-appear-active {
  transition: transform 0.4s cubic-bezier(0.3, 1.3, 0.3, 1);
}

.slide-left-notify-leave-from {
  opacity: 1;
}

.slide-left-notify-leave-to {
  height: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  opacity: 0;
}

.slide-left-notify-leave-active {
  transition: all 0.3s cubic-bezier(0.34, 0.69, 0.1, 1);
}

.slide-right-notify-enter-from, .slide-right-notify-appear-from {
  transform: translateX(100%);
}

.slide-right-notify-enter-to, .slide-right-notify-appear-to {
  transform: translateX(0);
}

.slide-right-notify-enter-active, .slide-right-notify-appear-active {
  transition: transform 0.4s cubic-bezier(0.3, 1.3, 0.3, 1);
}

.slide-right-notify-leave-from {
  opacity: 1;
}

.slide-right-notify-leave-to {
  height: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  opacity: 0;
}

.slide-right-notify-leave-active {
  transition: all 0.3s cubic-bezier(0.34, 0.69, 0.1, 1);
}
