.e-button {
	position: relative;
	display: inline-flex;
	align-items: stretch;
	width: auto;
	height: auto;
	padding: 4px 16px;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.715em;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	outline: 0;
	border: 0;
	border-radius: 4px;
	background: rgba(0,0,0,0);
	&:hover {
		opacity: 0.6;
	}
	&:active {
		opacity: 0.6;
		box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2), 0 5px 8px rgba(0,0,0,0.141), 0 1px 14px rgba(0,0,0,0.122);
	}
	&::before {
		border-radius: inherit;
		bottom: 0;
		box-shadow: 0 1px 5px rgba(0,0,0,0.2), 0 2px 2px rgba(0,0,0,0.141), 0 3px 1px -2px rgba(0,0,0,0.122);
		content: "";
		display: block;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}
	&.disabled {
		opacity: 0.7 !important;
		cursor: not-allowed !important;
		outline: 0 !important;
	}
	&.plain {
		background: #fff;
		color: #222;
	}
	&.round {
		border-radius: 10px;
	}
	&.circle {
		border-radius: 50%;
	}
	.loading {
		width: 1.2em;
		margin-right: 4px;
		margin-top: -2px;
	}
}
.e-button--sx {
	font-size: 12px;
}
.e-button--sm {
	font-size: 14px;
}
.e-button--md {
	font-size: 16px;
}
.e-button--lg {
	font-size: 18px;
}
.e-button--xl {
	font-size: 20px;
}
.e-button--primary {
}
.e-button--info {
	background: #00a2fe;
	color: #fff;
}
.e-button--warning {
	background: #e2d849;
	color: #fff;
}
.e-button--error {
	background: #ee3f4d;
	color: #fff;
}
.e-button--purple {
	background: #733df9;
	color: #fff;
}
