.eu-button {
  position: relative;
  display: inline-flex;
  align-items: stretch;
  width: auto;
  height: auto;
  padding: 4px 16px;
  font-size: 14px;
  line-height: 1.715em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  outline: 0;
  border: 0;
  font-weight: 500;
  border-radius: 4px;
}

.eu-button:hover {
  opacity: 0.6;
}

.eu-button:active {
  opacity: 0.6;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 5px 8px rgba(0, 0, 0, 0.141), 0 1px 14px rgba(0, 0, 0, 0.122);
}

.eu-button::before {
  border-radius: inherit;
  bottom: 0;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.141), 0 3px 1px -2px rgba(0, 0, 0, 0.122);
  content: "";
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.eu-button.disabled {
  opacity: 0.7 !important;
  cursor: not-allowed !important;
  outline: 0 !important;
  box-shadow: none;
}

.eu-button.plain {
  background: #ffffff !important;
  color: #222222 !important;
  box-shadow: none;
}

.eu-button.round {
  border-radius: 10px;
}

.eu-button.circle {
  border-radius: 50%;
}

.eu-button .loading {
  display: flex;
  align-items: center;
  width: 1.2em;
  margin-right: 4px;
  margin-top: -2px;
}

.eu-button--sx {
  font-size: 12px;
}

.eu-button--sm {
  font-size: 14px;
}

.eu-button--md {
  font-size: 16px;
}

.eu-button--lg {
  font-size: 18px;
}

.eu-button--xl {
  font-size: 20px;
}

.eu-button--info {
  background: #00a2fe;
  color: #ffffff;
}

.eu-button--warning {
  background: #e2d849;
  color: #ffffff;
}

.eu-button--error {
  background: #ee3f4d;
  color: #ffffff;
}

.eu-button--purple {
  background: #733df9;
  color: #ffffff;
}
