@import '../../../scss/variables';

$button-prefix-cls: $prefix + -button;

.#{$button-prefix-cls} {
  position: relative;
  display: inline-flex;
  align-items: stretch;
  width: auto;
  height: auto;
  padding: 4px 16px;
  font-size: 14px;
  line-height: 1.715em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  outline: 0;
  border: 0;
  border-radius: 4px;
}

.#{$button-prefix-cls}:hover {
  opacity: 0.6;
}

.#{$button-prefix-cls}:active {
  opacity: 0.6;
  box-shadow: $shadow-5;
}

.#{$button-prefix-cls}::before {
  border-radius: inherit;
  bottom: 0;
  box-shadow: $shadow-2;
  content: '';
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.#{$button-prefix-cls}.disabled {
  opacity: 0.7 !important;
  cursor: not-allowed !important;
  outline: 0 !important;
  box-shadow: none;
}

.#{$button-prefix-cls}.plain {
  background: #ffffff !important;
  color: #222222 !important;
  box-shadow: none;
}

.#{$button-prefix-cls}.round {
  border-radius: 10px;
}

.#{$button-prefix-cls}.circle {
  border-radius: 50%;
}

.#{$button-prefix-cls} .loading {
  display: flex;
  align-items: center;
  width: 1.2em;
  margin-right: 4px;
  margin-top: -2px;
}

.#{$button-prefix-cls}--sx {
  font-size: 12px;
}

.#{$button-prefix-cls}--sm {
  font-size: 14px;
}

.#{$button-prefix-cls}--md {
  font-size: 16px;
}

.#{$button-prefix-cls}--lg {
  font-size: 18px;
}

.#{$button-prefix-cls}--xl {
  font-size: 20px;
}

.#{$button-prefix-cls}--info {
  background: #00a2fe;
  color: #ffffff;
}

.#{$button-prefix-cls}--warning {
  background: #e2d849;
  color: #ffffff;
}

.#{$button-prefix-cls}--error {
  background: #ee3f4d;
  color: #ffffff;
}

.#{$button-prefix-cls}--purple {
  background: #733df9;
  color: #ffffff;
}
