.eu-radio {
  cursor: pointer;
  display: inline-block;

  > span {
    display: flex;
    align-items: center;
  }

  .radio-inner {
    margin-right: 5px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid #dcdee0;
    display: flex;
    align-items: center;
    justify-content: center;

    &:after {
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      content: "";
      background: #dcdee0;
      opacity: 0;
      transform: scale(0);
      transition: all 0.3s;
    }
  }

  &.checked .radio-inner {
    border-color: #1989fa;

    &:after {
      opacity: 1;
      transform: scale(1);
      background: #1989fa;
    }
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;

    .radio-inner {
      opacity: 0.5;
    }
  }

  + .eu-radio {
    margin-left: 10px;
  }
}

.eu-radio-group {
  display: inline-block;
}
