@import '../../../scss/variables';

$radio-prefix-cls: $prefix + -radio;
$radio-group-prefix-cls: $prefix + -radio-group;
.#{$radio-prefix-cls} {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  margin: 0;
  padding: 0;
  height: 20px;
  line-height: unset;


  &:hover &-inner {
    border: 1px solid var(--eu-color-primary);
  }

  &__input {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    opacity: 0;
    outline: none;
  }

  &-inner {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid var(--eu-color-grey);
    box-sizing: border-box;
    cursor: pointer;


    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: var(--eu-color-primary);
      transform: translate(-50%, -50%) scale(0);
      transition: transform $transition-duration;
    }
  }

  &__label {
    margin: 0 8px 0 8px;
    display: inline-block;
    line-height: unset;
    color: $black
  }

  &-checked &-inner {
    border: 1px solid var(--eu-color-primary);
    &:before {
      transform: translate(-50%, -50%) scale(1);
    }
  }

  &-disabled &-inner {
    cursor: not-allowed;
    background-color: $disabled-bg-color;
    border: 1px solid $disabled-border-color;

    &:before {
      background-color: $disabled-border-color;
    }
  }
  &-disabled:hover &-inner{
    border: 1px solid $disabled-border-color;
  }
  &-disabled &__label {
    color: $disabled-text-color;
  }

}
.#{$radio-group-prefix-cls} {
  display: inline-block;
  line-height: 1;
  .#{$radio-prefix-cls} {
    margin-right: 10px;
  }
}
