.eu-tabs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  .tabs-nav {
    position: relative;
    border-bottom: 1px solid #dcdee0;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .tabs-scroll {
      flex: 2;
      overflow: hidden;
      display: flex;
      align-items: center;
    }

    .tabs-tab {
      display: flex;
      transition: all 0.5s;
    }

    .tabs-prev, .tabs-next {
      display: block;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      cursor: pointer;
      transition: all 0.3s;
    }

    .tabs-prev.disabled, .tabs-next.disabled {
      color: #999;
      cursor: not-allowed;
    }

    .tabs-prev {
      transform: rotate(90deg);
    }

    .tabs-next {
      transform: rotate(-90deg);
    }

    .tabs-item {
      padding: 0 20px;
      position: relative;
      line-height: 40px;
      cursor: pointer;
      z-index: 2;
      white-space: nowrap;

      &::after {
        content: '';
        display: block;
        margin: 0 auto;
        height: 2px;
        background: #1989fa;
        opacity: 0;
        width: 0;
        transition: all 0.3s;
        position: relative;
        top: -1px;
      }

      &.active::after {
        opacity: 1;
        width: 100%;
      }

      &.disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }

      .icon-close {
        font-size: 12px;
        position: relative;
        top: -3px;
        left: 3px;
      }
    }
  }

  .tabs-content {
    padding: 20px;
    overflow: hidden;
  }

  &.bottom .tabs-nav {
    order: 1;
  }

  &.left, &.right {
    flex-direction: row;
  }

  &.left .tabs-nav, &.right .tabs-nav {
    width: 150px;
    display: block;
    text-align: center;
    height: auto;
  }

  &.left .tabs-scroll, &.right .tabs-scroll {
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
  }

  &.left .tabs-tab, &.right .tabs-tab {
    display: block;
  }

  &.left .tabs-content {
    flex: 2;
  }

  &.right {
    .tabs-content {
      flex: 2;
    }

    .tabs-nav {
      order: 1;
    }
  }
}
