.eu-tabs__wrap {
  &.is-border-card, &.is-card {
    border-bottom: 1px solid #e4e7ed;
  }
}

.eu-tabs {

  &.is-border-card {
    border: 1px solid #e4e7ed;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
    border-radius: 4px;
    overflow: hidden;
  }
}

.eu-tabs__wrap {
  width: 100%;
  height: max-content;
  margin-bottom: 15px;
  display: flex;
  position: relative;

  &::after {
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #e4e7ed;
  }

  &.is-border-card::after, &.is-card::after {
    content: none;
  }

  &.is-border-card {
    background-color: #f5f7fa;
  }
}

.eu-tabs__scroll {
  max-width: 100%;
  height: max-content;
  overflow: hidden;
  user-select: none;
  user-select: none;
  user-select: none;
  margin-bottom: -1px;
}

.eu-tabs__nav {
  display: flex;
  position: relative;
  width: max-content;

  &.is-card {
    border: 1px solid #e4e7ed;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: none;
    overflow: hidden;

    > div:last-child {
      border-right: 0;
    }

    &.is-scroll > div:last-child {
      border-right: 1px solid #e4e7ed;
    }
  }

  &.is-border-card {
    > div:first-child {
      border-left: 1px solid transparent;
    }

    &.is-scroll > div:first-child {
      border-left: 1px solid #e4e7ed;
    }
  }
}

.eu-tabs__content {
  padding: 0 20px 0 0;

  &.is-border-card {
    padding: 0 0 20px 20px;
  }
}

.eu-tabs {
  .eu-icon-arrow-left, .eu-icon-arrow-right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -1px;
    cursor: pointer;
  }
}
