@import '../../../scss/variables';


 .eu-scrollbar {
	 position: relative;
}
 .eu-scrollbar-container {
	 position: relative;
	 scrollbar-width: none;
}
 .eu-scrollbar-container::-webkit-scrollbar {
	 display: none;
}
 .eu-scrollbar-track {
	 position: absolute;
	 z-index: 100;
}
 .eu-scrollbar-track-direction-horizontal {
	 bottom: 0;
	 left: 0;
	 box-sizing: border-box;
	 width: 100%;
	 height: 15px;
}
 .eu-scrollbar-track-direction-vertical {
	 top: 0;
	 right: 0;
	 box-sizing: border-box;
	 width: 15px;
	 height: 100%;
}
 .eu-scrollbar-thumb {
	 position: absolute;
	 display: block;
	 box-sizing: border-box;
}
 .eu-scrollbar-thumb-bar {
	 width: 100%;
	 height: 100%;
	 background-color: rgb(201,205,212);
	 border-radius: 6px;
}
 .eu-scrollbar-thumb:hover .eu-scrollbar-thumb-bar, .eu-scrollbar-thumb-dragging .eu-scrollbar-thumb-bar {
	 background-color: rgb(134,144,156);
}
 .eu-scrollbar-thumb-direction-horizontal .eu-scrollbar-thumb-bar {
	 height: 9px;
	 margin: 3px 0;
}
 .eu-scrollbar-thumb-direction-vertical .eu-scrollbar-thumb-bar {
	 width: 9px;
	 margin: 0 3px;
}
 .eu-scrollbar.eu-scrollbar-type-embed .eu-scrollbar-thumb {
	 opacity: 0;
	 transition: opacity ease 200ms;
}
 .eu-scrollbar.eu-scrollbar-type-embed .eu-scrollbar-thumb-dragging {
	 opacity: 0.8;
}
 .eu-scrollbar.eu-scrollbar-type-embed:hover .eu-scrollbar-thumb {
	 opacity: 0.8;
}
 .eu-scrollbar.eu-scrollbar-type-track .eu-scrollbar-track {
	 background-color: rgb(247,248,250);
}
 .eu-scrollbar.eu-scrollbar-type-track .eu-scrollbar-track-direction-horizontal {
	 border-top: solid rgb(229,230,235);
	 border-bottom: solid rgb(229,230,235);
}
 .eu-scrollbar.eu-scrollbar-type-track .eu-scrollbar-track-direction-vertical {
	 border-right: solid rgb(229,230,235);
	 border-left: solid rgb(229,230,235);
}
 .eu-scrollbar.eu-scrollbar-type-track .eu-scrollbar-thumb-direction-horizontal {
	 margin: -1px 0;
}
 .eu-scrollbar.eu-scrollbar-type-track .eu-scrollbar-thumb-direction-vertical {
	 margin: 0 -1px;
}
 .eu-scrollbar.eu-scrollbar-type-track.eu-scrollbar-both .eu-scrollbar-track-direction-vertical::after {
	 position: absolute;
	 right: -1px;
	 bottom: 0;
	 display: block;
	 box-sizing: border-box;
	 width: 15px;
	 height: 15px;
	 background-color: rgb(247,248,250);
	 border-right:1px solid rgb(229,230,235);
	 border-bottom:1px solid rgb(229,230,235);
	 content: '';
}
.eu-scrollbar {
	position: relative;
	&.eu-scrollbar-type-embed {
		.eu-scrollbar-thumb {
			opacity: 0;
			transition: opacity ease 200ms;
		}
		.eu-scrollbar-thumb-dragging {
			opacity: 0.8;
		}
		&:hover {
			.eu-scrollbar-thumb {
				opacity: 0.8;
			}
		}
	}
	&.eu-scrollbar-type-track {
		.eu-scrollbar-track {
			background-color: rgb(247,248,250);
		}
		.eu-scrollbar-track-direction-horizontal {
			border-top: solid rgb(229,230,235);
			border-bottom: solid rgb(229,230,235);
		}
		.eu-scrollbar-track-direction-vertical {
			border-right: solid rgb(229,230,235);
			border-left: solid rgb(229,230,235);
		}
		.eu-scrollbar-thumb-direction-horizontal {
			margin: -1px 0;
		}
		.eu-scrollbar-thumb-direction-vertical {
			margin: 0 -1px;
		}
		&.eu-scrollbar-both {
			.eu-scrollbar-track-direction-vertical {
				&::after {
					position: absolute;
					right: -1px;
					bottom: 0;
					display: block;
					box-sizing: border-box;
					width: 15px;
					height: 15px;
					background-color: rgb(247,248,250);
					border-right: 1px solid rgb(229,230,235);
					border-bottom: 1px solid rgb(229,230,235);
					content: '';
				}
			}
		}
	}
}
.eu-scrollbar-container {
	position: relative;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
}
.eu-scrollbar-track {
	position: absolute;
	z-index: 100;
}
.eu-scrollbar-track-direction-horizontal {
	bottom: 0;
	left: 0;
	box-sizing: border-box;
	width: 100%;
	height: 15px;
}
.eu-scrollbar-track-direction-vertical {
	top: 0;
	right: 0;
	box-sizing: border-box;
	width: 15px;
	height: 100%;
}
.eu-scrollbar-thumb {
	position: absolute;
	display: block;
	box-sizing: border-box;
}
.eu-scrollbar-thumb-bar {
	width: 100%;
	height: 100%;
	background-color: rgb(201,205,212);
	border-radius: 6px;
}
.eu-scrollbar-thumb:hover .eu-scrollbar-thumb-bar, .eu-scrollbar-thumb-dragging .eu-scrollbar-thumb-bar {
	background-color: rgb(134,144,156);
}
.eu-scrollbar-thumb-direction-horizontal {
	.eu-scrollbar-thumb-bar {
		height: 9px;
		margin: 3px 0;
	}
}
.eu-scrollbar-thumb-direction-vertical {
	.eu-scrollbar-thumb-bar {
		width: 9px;
		margin: 0 3px;
	}
}
