
.eu-input,
.eu-input-md {
  height: 36px;
  line-height: 36px;
  border: 1px solid #dcdee0;
  border-radius: 3px;
  background: none;
  outline: none;
  padding: 0 10px;
  font-size: 14px;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  transition: all 0.3s;
  font-size: 16px;
  color: #575757;

  &:hover {
    cursor: pointer;
    border: 1px solid #34c3ff;
  }

  &:focus {
    border: 1px solid #34c3ff;
    outline: none;
  }
}

.eu-input-lg {
  font-size: 16px;
  padding: 10px 12px;
}

.eu-input-sm {
  padding: 5px 12px;
}

.eu-input-xs {
  font-size: 12px;
  padding: 2px 12px;
}

.eu-input-disabled {
  background: #f7f7fa;
  border: 1px solid #e5e5ea;
  border-radius: 6px;

  &:hover {
    border: 1px solid #e5e5ea;
    cursor: not-allowed;
  }

  &:focus {
    border: 1px solid #e5e5ea;
    outline: none;
    cursor: not-allowed;
  }
}

.eu-input::placeholder {
  color: #8e8e93;
}
