@import '../../../scss/variables';

$icon-prefix-cls: $prefix + -icon;

.#{$icon-prefix-cls} {
  display: inline-block;
  width: 1em;
  height: 1em;
  color: inherit;
  font-style: normal;
  vertical-align: -2px;
  outline: none;
  transition: all .2s ease;
}
