@import '../../../scss/variables';

$icon-prefix-cls: $prefix + -icon;

.#{$icon-prefix-cls} {
  display: inline-flex;
  align-items: center;
  width: 1em;
  color: inherit;
  font-style: normal;
  outline: none;
}
