.eu-table {
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  box-sizing: border-box;

  &.is-scroll table {
    transform-style: preserve-3d;
  }

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    position: relative;
    z-index: 100;
    background: #f2f3f5;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #dcdee0;
    background-clip: padding-box;
    min-height: 28px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-corner {
    background: #dcdee0;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    border: none;
    table-layout: fixed;
  }

  td, th {
    text-align: left;
    padding: 8px 10px;
    box-sizing: border-box;
    border: 1px solid #dcdee0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    background: #fff;
  }

  td {
    &.fixed-left, &.fixed-right {
      transform: translateZ(10px);
      position: relative;
    }
  }

  th {
    &.fixed-left, &.fixed-right {
      transform: translateZ(10px);
      position: relative;
    }
  }

  td {
    &.fixed-left:after, &.fixed-right:after {
      box-shadow: inset 10px 0 10px -10px rgba(0, 0, 0, 0.15);
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 10px;
      bottom: -1px;
      touch-action: none;
    }
  }

  th {
    &.fixed-left:after, &.fixed-right:after {
      box-shadow: inset 10px 0 10px -10px rgba(0, 0, 0, 0.15);
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 10px;
      bottom: -1px;
      touch-action: none;
    }
  }

  td.fixed-right:after, th.fixed-right:after {
    right: auto;
    left: 0;
  }

  tr {
    &:nth-child(odd) td {
      background: #fafcff;
    }

    &:hover td {
      background: #ebf5ff;
      transition: background 0.5s;
    }
  }

  .no-border {
    border: none;

    td, th {
      border: none;
      border-bottom: 1px solid #dcdee0;
    }

    .transform th:before {
      border-top: none;
    }
  }

  .no-ellipsis {
    table-layout: inherit;
  }

  .no-stripe tr:nth-child(odd) td {
    background: none;
  }

  .no-hover tr {
    &:hover td {
      background: none;
    }

    &:nth-child(odd) td {
      background: #fafcff;
    }
  }

  thead tr {
    transform-style: preserve-3d;
  }

  .transform {
    /*tr {transform-style: preserve-3d;}*/

    th {
      transform: translateZ(10px);
      position: relative;

      &:before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        border-top: 1px solid #dcdee0;
        border-bottom: 1px solid #dcdee0;
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
      }
    }
  }

  .eu-checkbox {
    position: relative;
    z-index: 2;
  }

  .caret-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    height: 34px;
    width: 24px;
    vertical-align: middle;
    cursor: pointer;
    overflow: initial;
    position: relative;

    .sort-caret {
      width: 0;
      height: 0;
      border: 5px solid transparent;
      position: absolute;
      left: 7px;

      &.asc {
        border-bottom-color: #c0c4cc;
        top: 5px;
      }

      &.desc {
        border-top-color: #c0c4cc;
        bottom: 7px;
      }

      &.active {
        &.asc {
          border-bottom-color: #1989fa;
        }

        &.desc {
          border-top-color: #1989fa;
        }
      }
    }
  }

  .warning td {
    background: #e1effe !important;
  }

  .extend td {
    white-space: normal;
  }

  .drag {
    th {
      position: relative;

      &:hover .drag-line {
        display: block;
      }
    }

    .drag-line {
      display: none;
      width: 0;
      height: 100%;
      cursor: ew-resize;
      border-right: 3px solid #dfe6ee;
      padding: 0 1px;
      position: absolute;
      right: 1px;
      z-index: 2;
      top: 0;
    }
  }

  .table-drag-line {
    position: absolute;
    top: 0;
    height: 100%;
    border-left: 1px solid #1989fa;
    cursor: ew-resize;
  }

  .eu-page {
    padding-top: 20px;
  }

  .eu-tooltip-box {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.table-page-space {
  height: 20px;
}
