@use "sass:math";

@import './mixins/mixins';
@import './common/var';

@include b(button-group) {
  overflow: hidden;
  .#{$namespace}-button:first-child {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  .#{$namespace}-button:last-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
  .#{$namespace}-button:not(:first-child, :last-child) {
    border-radius: 0;
    border-right: 0;
    border-left: 0;
  }
}
