@import '../../../scss/variables';


$select-down-prefix-cls: $prefix + -select-down;

.#{$select-down-prefix-cls} {
  position: relative;
  display: inline-block;
  min-width: 140px;

  &-single {
    flex: 1;
    height: 100%;
    width: 100%;

    padding-right: 30px;
  }


  &-control {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    border: 1px solid #dcdee0;
    border-radius: 4px;
    background: none;
    outline: none;
    font-size: 14px;
    box-sizing: border-box;
    width: 100%;
    padding: 0 10px;
    transition: border 0.3s;
    color: #575757;

    &-xs {
      font-size: 12px;
      min-height: 28px;
    }

    &-sm {
      font-size: 14px;
      min-height: 32px;
    }

    &-md {
      font-size: 14px;
      min-height: 36px;
    }

    &-lg {
      font-size: 16px;
      min-height: 40px;
    }

    &-xl {
      font-size: 18px;
      min-height: 44px;
    }

    &-focus {
      border: 1px solid var(--eu-color-primary);
      outline: none;
    }

    &-input {
      //display: none;
      opacity: 0;
      width: 0;
    }

    .clear-icon {
      cursor: pointer;
      position: relative;
      opacity: 0;
      transition: opacity 0.3s;
    }

    &:hover .clear-icon{
      opacity: 1;
    }

    .down-icon {
      transition: transform 0.3s;
    }

    .translate-icon {
      transform: translateY(0) rotate(-180deg);
    }


    &-placeholder {
      width: 100%;
      color: #848b99;
      pointer-events: none;
      cursor: text;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &-multiple {
      position: relative;

      display: flex;
      align-items: center;
      flex-wrap: wrap;

      height: 100%;
      width: 100%;

      padding-top: 3px;
      cursor: pointer;
      box-sizing: border-box;

      > * {
        margin-right: 6px;
        margin-bottom: 3px;
      }
    }



    &-range{
      flex: 1;
      display: flex;
      align-items: center;

      .#{$select-down-prefix-cls}-single {
        min-width: 100px;
        color: #111111;

        .placeholder{
          width: 100%;
          color: #a8b0bf;
        }
      }
    }
  }

  &-disabled {
    background-color: #f6f7fa;
    border-color: #e2e6f0;
    cursor: not-allowed;

    color: #a8b0bf;

    .clear-icon {
      opacity: 0;
    }

    .down-icon{
      color: #a8b0bf;
    }
    .#{$select-down-prefix-cls}-single {
      color: #a8b0bf;
    }

  }


  &-panel {
    position: absolute;
    left: 0;
    background: $white;
    box-sizing: border-box;
    min-width: 100%;
    z-index: 50;
    padding-top: 6px;
    border-radius: 2px;
    display: inline-block;

    &-wrapper {
      position: relative;
      border: 1px solid $border-color-base;
      box-shadow: $select-down-panel-shadow;

      .panel {
        list-style: none;

      }

      .scroll{
        max-height: 248px;
        overflow-y: auto;
      }

      .down-arrow {
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px;
        filter: drop-shadow(0 2px 12px rgba(0, 0, 0, 0.03));
        left: 30px;
        top: -5px;
        border-top-width: 0;
        border-bottom-color: #dcdee0;

        &:before {
          content: "";
          position: absolute;
          display: block;
          width: 0;
          height: 0;
          border-color: transparent;
          border-style: solid;
          border-width: 5px;
          border-top-width: 0;
          border-bottom-color: #fff;
          top: 1px;
          left: -5px;
        }

      }

    }


  }


}
