@import '../../../scss//variables.scss';

.avatar {
  width: $avatar-size-md;
  height: $avatar-size-md;
  border-radius: 50%;
  position: relative;
  background-color: var(--bg, #d6d6d6);
  box-shadow: 1px 3px 12px -4px var(--bg, rgb(0 0 0 / 40%));
  font-size: $avatar-size-md;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.avatar.lg {
  width: $avatar-size-lg;
  height: $avatar-size-lg;
  font-size: $avatar-size-lg;
}

.avatar.xl {
  width: $avatar-size-xl;
  height: $avatar-size-xl;
  font-size: $avatar-size-xl;
}

.avatar.xm {
  width: $avatar-size-sm;
  height: $avatar-size-sm;
  font-size: $avatar-size-sm;
}

.avatar img {
  width: 100%;
  height: 100%;
  border-radius: $avatar-size-md;
  object-fit: cover;
}

.avatar.xl img {
  border-radius: $avatar-size-xl;
}

.avatar.lg img {
  border-radius: $avatar-size-lg;
}

.avatar.xm img {
  border-radius: $avatar-size-sm;
}

.avatar span {
  color: #ffffff;
  font-size: 0.5em;
}

/* :empty伪类实现空状态图标填充 */
.avatar:empty {
  background: #d6d6d6 url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M20 22h-2v-2a3 3 0 0 0-3-3H9a3 3 0 0 0-3 3v2H4v-2a5 5 0 0 1 5-5h6a5 5 0 0 1 5 5v2zm-8-9a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-2a4 4 0 1 0 0-8 4 4 0 0 0 0 8z" fill="rgba(137,137,137,1)"/></svg>') center no-repeat;
  background-size: 52% auto;
}

.avatar .reddot,
.avatar .dot {
  width: calc(1em * 0.3);
  height: calc(1em * 0.3);
  border-radius: calc(1em * 0.3);
  position: absolute;
  right: 0;
  bottom: 0;
}

.avatar.online .dot {
  background: linear-gradient(134.57deg, rgb(4 201 63 / 100%) 0%, rgb(3 166 52 / 100%) 100%);
}

.avatar.offline .dot {
  background: linear-gradient(137.1deg, rgb(191 191 191 / 100%) 0%, rgb(156 156 156 / 100%) 100%);
}

.avatar.offline img {
  filter: saturate(0.3);
  opacity: 0.8;
}

.avatar.notice .reddot {
  right: 0;
  top: 0;
  background-color: #f22727;
}

/* 因为dot的宽高要利用font-sie的继承值，所以这里使用伪元素， 单独设置font-size */
.avatar.notice .reddot::after {
  content: attr(data-count);
  width: 100%;
  height: 100%;
  font-size: calc(0.5 * 0.3em);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.avatar .checked {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $positive;
  position: absolute;
  right: -2px;
  bottom: -4px;
  font-size: 16px;
  color: #ffffff;
}

.avatar.checked::before {
  content: '';
  width: 110%;
  height: 110%;
  border-radius: 50%;
  position: absolute;
  border: 2px solid $positive;
}

.avatar-group .avatar {
  border: 2px solid #ffffff;
  margin-left: calc(-0.3em);
  box-shadow: unset;
}

.card {
  width: 200px;
  padding: 12px;
  display: flex;
  align-items: center;
  border: 1px solid #f1f1f1;
  border-radius: 4px;
  margin-bottom: 12px;
}

.card .content {
  color: rgb(20 20 20 / 40%);
  font-size: 12px;
  margin-left: 12px;
}

.card .title {
  color: #333333;
  font-size: 14px;
}

.card.offline .title {
  color: rgb(20 20 20 / 60%);
}
