@import '../../../scss/variables';

$form-item-prefix-cls: $prefix + -form-item;
.#{$form-item-prefix-cls} {
  width: 100%;
  display: flex;
  margin-bottom: 18px;

  .label{
    display: inline-flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex: 0 0 auto;
    font-size: 14px;
    color: #606266;
    height: 32px;
    line-height: 32px;
    padding: 0 12px 0 0;
    box-sizing: border-box;
  }

  .content {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    box-sizing: border-box;
  }


  .error {
    font-size: 12px;
    line-height: 1;
    padding-top: 2px;
    position: absolute;
    top: 100%;
    left: 0;
    color: #f56c6c;
  }

  .label.is-required:before {
    content: "*";
    color: #f56c6c;
    margin-right: 4px
  }
}


