@import '../../../scss/variables';


$number-prefix-cls: $prefix + -input-number;

.#{$number-prefix-cls} {
  position: relative;
  display: inline-flex;
  min-width: 40px;


  &-minus, &-plus{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
    user-select: none;
    color: var(--eu-color-grey);
    border: 1px solid var(--eu-color-grey);
    border-radius: 2px;
    transition: all .3s;
    &:hover{
      color: var(--eu-color-primary);
      border-color:  var(--eu-color-primary);
    }
    &:active{
      color: var(--eu-color-primary);
      border-color:  var(--eu-color-primary);
    }
  }
}
