@import '../../../scss/variables';


$number-prefix-cls: $prefix + -input-number;

.#{$number-prefix-cls} {
  position: relative;
  display: inline-flex;
  min-width: 80px;

  &:hover {
    .#{$number-prefix-cls}__input-box {
      &:not(.disabled) {
        border: 1px solid #575d6c;
        padding-right: 24px;
      }
    }

    .#{$number-prefix-cls}__control-buttons {
      &:not(.disabled) {
        display: flex;
        border-color: #575d6c;
      }
    }
  }

  &:focus-within {
    .#{$number-prefix-cls}__input-box {
      &:not(.disabled) {
        border: 1px solid #5e7ce0;
        padding-right: 24px;
      }
    }

    .#{$number-prefix-cls}__control-buttons {
      &:not(.disabled) {
        display: flex;
        border-color: #5e7ce0;
      }
    }
  }

  .#{$number-prefix-cls}__input-box {
    box-sizing: border-box;
    padding: 4px 8px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #d7d8da;
    outline: none;
    width: 100%;
    line-height: 20px;
    height: 28px;
    display: block;
    cursor: text;
    appearance: textfield;
    transition: border-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);

    &:not(.disabled) {
      background-color: #ffffff;
      border-color: #d7d8da;
      color: #252b3a;
    }

    &::-webkit-inner-spin-button {
      appearance: none;
    }

    &::-webkit-outer-spin-button {
      appearance: none;
    }
  }

  .#{$number-prefix-cls}__control-buttons {
    display: none;
    position: absolute;
    right: 0;
    width: 22px;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    border-left-color: #d7d8da;
    box-sizing: border-box;
    line-height: 100%;
    border-radius: 0 4px 4px 0;

    .control-button {
      user-select: none;
      box-sizing: border-box;
      height: 50%;
      line-height: 50%;
      border-width: 0 1px;
      transition: border-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #ffffff;

      svg {
        path {
          fill: #575d6c;
        }
      }

      &:not(.disabled) {
        cursor: pointer;

        &:hover {
          >svg {
            path {
              fill: #252b3a;
            }
          }
        }
      }
    }

    .control-button.control-inc {
      svg {
        position: relative;
        top: 2px;
        transform: rotate(180deg);
      }
    }

    .control-button.control-dec {
      svg {
        position: relative;
        bottom: 2px;
      }
    }

    .control-button.disabled {
      >svg {
        path {
          fill: #adb0b8;
        }
      }
    }
  }

  .#{$number-prefix-cls}__control-buttons.disabled {
    border-left-color: #dfe1e6;
  }

  .#{$number-prefix-cls}--lg {
    >.#{$number-prefix-cls}__input-box {
      font-size: 14px;
      line-height: 24px;
      height: 46px;
    }
  }

  .#{$number-prefix-cls}--lg.#{$number-prefix-cls}__control-buttons {
    .control-button {
      .#{$number-prefix-cls}__icon-arrow {
        width: 16px;
        height: 16px;
      }
    }
  }

  .#{$number-prefix-cls}--md {
    >.#{$number-prefix-cls}__input-box {
      font-size: 14px;
      line-height: 20px;
      height: 28px;
    }
  }

  .#{$number-prefix-cls}--sm {
    >.#{$number-prefix-cls}__input-box {
      font-size: 12px;
      line-height: 18px;
      height: 26px;
    }
  }

  .#{$number-prefix-cls}--sm.#{$number-prefix-cls}__control-buttons {
    .control-button {
      &:first-child {
        .#{$number-prefix-cls}__icon-arrow {
          width: 14px;
          height: 14px;
        }
      }

      &:last-child {
        .#{$number-prefix-cls}__icon-arrow {
          width: 14px;
          height: 14px;
        }
      }
    }
  }

  .#{$number-prefix-cls}__input-wrap {
    line-height: 100%;
  }

  .disabled {
    cursor: not-allowed;
  }
}

.#{$number-prefix-cls}.#{$number-prefix-cls}--md {
  width: 80px;

  .#{$number-prefix-cls}__input-box {
    height: 32px;
    line-height: 32px;
  }
}
