@import '../../../scss/variables.scss';

$date-picker-footer-prefix-cls: $prefix + -date-picker-footer;

.#{$date-picker-footer-prefix-cls} {
  text-align: center;
  cursor: pointer;
  border-top: 1px solid #eeeeee;
  padding: 6px 0;
  font-size: 14px;
}
