@import '../../../scss/variables.scss';

$date-picker-week-bar-prefix-cls: $prefix + -date-picker-week-bar;

.#{ $date-picker-week-bar-prefix-cls } {
  th {
    color: #282c33;
    font-weight: 400;
    font-size: 14px;
    padding-bottom: 4px;
    margin-bottom: 4px;
    border-bottom: 1px solid rgb(239, 239, 245);
  }
}
