@import '../../../scss/variables.scss';


$date-picker-range-prefix-cls: $prefix + -date-picker-range;

.#{$date-picker-range-prefix-cls} {

  display: flex;

  .date-editor {
    width: 400px;
    border: 1px solid #e5e5ea;
    border-radius: 6px;
    cursor: text;
  }

  .range-picker-input {
    width: 200px;
    border: none;
    border-radius: 0;
    background: #ffffff;

    &:hover {
      border: none;
      cursor: text;
    }

    &:focus {
      border: none;
      cursor: text;
    }

    &:focus-visible {
      outline: none;
    }
  }

  .range-picker-focus {
    border: 1px solid #34c3ff;
  }

  .e-range-separator {
    display: flex;
    align-items: center;
  }


}
