@import '../../../scss/variables.scss';

$date-picker-header-prefix-cls: $prefix + -date-picker-header;


.#{ $date-picker-header-prefix-cls } {
  display: flex;
  justify-content: space-between;
  padding: 6px 10px;

  .last-year,
  .next-month {
    margin-right: 15px;
  }

  .arrow-right,
  .arrow-left {
    display: flex;
  }

  .arrow {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .date-content{
    font-weight: 500;
    font-size: 14px;
  }

}

