@import '../../../scss/variables.scss';

$date-picker-week-bar-prefix-cls: $prefix + -date-picker-week-bar;

.#{ $date-picker-week-bar-prefix-cls } {
  th {
    color: #606266;
    font-weight: 400;
    font-size: 14px;
    padding-bottom: 8px;
  }
}
