@import '../../../scss/variables.scss';

$date-picker-header-prefix-cls: $prefix + -date-picker-header;


.#{ $date-picker-header-prefix-cls } {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 ;

  .last-year,
  .next-month {
    margin-right: 15px;
  }

  .arrow-right,
  .arrow-left {
    display: flex;
  }

  .arrow {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}

