@import '../../../scss//variables.scss';

.date-picker-day-content {
  td {
    width: 40px;
    height: 40px;
    color: #606266;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
  }

  .disable-item {
    cursor: not-allowed;
    color: #c0c4cc;
  }

  .day-item.active {
    .item-value {
      color: #ffffff;
      min-width: 24px;
      height: 24px;
      width: 24px;
      font-size: 14px;
      line-height: 24px;
      margin: 0 auto;
      text-align: center;
      border-radius: 50%;
      cursor: pointer;
      background-color: $bg-color-primary;
      transition: background-color 0.1s cubic-bezier(0, 0, 1, 1);
    }
  }

  .day-item.active-click {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #ffffff;
    background-color: #008c8c;
  }
}
