.date-picker-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;

  .last-year,
  .next-month {
    margin-right: 15px;
  }

  .arrow-right,.arrow-left {
    display: flex;
  }
  .arrow {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}
