.range-picker {
  .date-editor {
    width: 400px;
    border: 1px solid #e5e5ea;
    border-radius: 6px;
    cursor: text;
  }

  .range-picker-input {
    width: 200px;
    border: none;
    border-radius: 0;
    background: #ffffff;

    &:hover {
      border: none;
      cursor: text;
    }

    &:focus-visible {
      outline: none;
    }
  }

  .e-range-separator {
    display: flex;
    align-items: center;
  }

  .date-range-picker-panel {
    display: flex;
  }
}
