.loading {
  position: relative;
  display: inline-block;
  z-index: 999;
  text-align: center;
  padding: 5px 0;
  .loading-spinner {
      height: 30px;
      width: 30px;
      display: inline-block;
      border-radius: 50%;
      border: 3px solid rgba(247, 247, 250, 0.80);
      animation: spinner2 1000ms linear infinite;
  }
  @keyframes spinner2 {
      to {
          transform: rotate(360deg);
      }
  }
  .loading-text {
      display: block;

      color: #575757;
      line-height: 20px;
  }
  .xs-text {
      left: 26px;
      top: 2px;
      font-size: 12px;
  }
  .sm-text {
      left: 30px;
      top: 2px;
      font-size: 14px;
  }
  .md-text {
      margin-top: 12px;
      font-size: 14px;
  }
  .lg-text {
      margin-top: 12px;
      font-size: 16px;
  }
}
#e-loading{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.3);
}
