@import '../../../scss/variables';

.z-icon {
  display: inline-flex;
  height: 1em;
  width: 1em;
  vertical-align: middle;
}

.z-tree {
  display: inline-block;
  width: 100%;
}

.z-tree-node {
  padding: 5px 0;
  font-size: 16px;
}

.z-tree-node:hover {
  background: rgb(195 195 234);
}

.z-tree-node-expand-icon {
  display: inline-block;
  vertical-align: middle;
  transform: rotate(0deg);
  transition: transform 0.2s ease-in;
  cursor: pointer;
}

.z-tree-node-expand-icon.expanded {
  transform: rotate(90deg);
}

.z-tree-node-expand-icon.is-leaf {
  fill: transparent;
  cursor: default;
}
