:root {
 --e-color-primary: #{$primary};
 --e-color-secondary: #{$secondary};
 --e-color-accent: #{$accent};
 --e-color-positive: #{$positive};
 --e-color-negative: #{$negative};
 --e-color-info: #{$info};
 --e-color-warning: #{$warning};
 --e-color-dark: #{$dark};
}
.text-dark {
  color: $dark !important;
  color: var(--e-color-dark) !important;
}
.bg-dark {
  background: $dark !important;
  background: var(--e-color-dark) !important;
}
.text-primary {
  color: $primary !important;
  color: var(--e-color-primary) !important;
}
.bg-primary {
  background: $primary !important;
  background: var(--e-color-primary) !important;
}
.text-secondary {
  color: $secondary !important;
  color: var(--e-color-secondary) !important;
}
.bg-secondary {
  background: $secondary !important;
  background: var(--e-color-secondary) !important;
}
.text-accent {
  color: $accent !important;
  color: var(--e-color-accent) !important;
}
.bg-accent {
  background: $accent !important;
  background: var(--e-color-accent) !important;
}
.text-positive {
  color: $positive !important;
  color: var(--e-color-positive) !important;
}
.bg-positive {
  background: $positive !important;
  background: var(--e-color-positive) !important;
}
.text-negative {
  color: $negative !important;
  color: var(--e-color-negative) !important;
}
.bg-negative {
  background: $negative !important;
  background: var(--e-color-negative) !important;
}
.text-info {
  color: $info !important;
  color: var(--e-color-info) !important;
}
.bg-info {
  background: $info !important;
  background: var(--e-color-info) !important;
}
.text-warning {
  color: $warning !important;
  color: var(--e-color-warning) !important;
}
.bg-warning {
  background: $warning !important;
  background: var(--e-color-warning) !important;
}
.text-white {
  color: #fff !important;
}
.bg-white {
  background: #fff !important;
}
.text-black {
  color: #000 !important;
}
.bg-black {
  background: #000 !important;
}
.text-transparent {
  color: transparent !important;
}
.bg-transparent {
  background: transparent !important;
}
.text-separator {
  color: $separator-color !important;
}
.bg-separator {
  background: $separator-color !important;
}
.text-dark-separator {
  color: $separator-dark-color !important;
}
.bg-dark-separator {
  background: $separator-dark-color !important;
}
