:root {
 --e-color-primary: #{$primary};
 --e-color-secondary: #{$secondary};
 --e-color-accent: #{$accent};
 --e-color-positive: #{$positive};
 --e-color-negative: #{$negative};
 --e-color-info: #{$info};
 --e-color-warning: #{$warning};
 --e-color-dark: #{$dark};
}
.text-dark {
  color: $dark;
  color: var(--e-color-dark);
}
.bg-dark {
  background: $dark;
  background: var(--e-color-dark);
}
.text-primary {
  color: $primary;
  color: var(--e-color-primary);
}
.bg-primary {
  background: $primary;
  background: var(--e-color-primary);
}
.text-secondary {
  color: $secondary;
  color: var(--e-color-secondary);
}
.bg-secondary {
  background: $secondary;
  background: var(--e-color-secondary);
}
.text-accent {
  color: $accent;
  color: var(--e-color-accent);
}
.bg-accent {
  background: $accent;
  background: var(--e-color-accent);
}
.text-positive {
  color: $positive;
  color: var(--e-color-positive);
}
.bg-positive {
  background: $positive;
  background: var(--e-color-positive);
}
.text-negative {
  color: $negative;
  color: var(--e-color-negative);
}
.bg-negative {
  background: $negative;
  background: var(--e-color-negative);
}
.text-info {
  color: $info;
  color: var(--e-color-info);
}
.bg-info {
  background: $info;
  background: var(--e-color-info);
}
.text-warning {
  color: $warning;
  color: var(--e-color-warning);
}
.bg-warning {
  background: $warning;
  background: var(--e-color-warning);
}
.text-white {
  color: #fff;
}
.bg-white {
  background: #fff;
}
.text-black {
  color: #000;
}
.bg-black {
  background: #000;
}
.text-transparent {
  color: transparent;
}
.bg-transparent {
  background: transparent;
}
.text-separator {
  color: $separator-color;
}
.bg-separator {
  background: $separator-color;
}
.text-dark-separator {
  color: $separator-dark-color;
}
.bg-dark-separator {
  background: $separator-dark-color;
}
