

$prefix: eu;

$font-family: Inter, "-apple-system", BlinkMacSystemFont, "PingFang SC", "Hiragino Sans GB", "noto sans", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;

$code-family: Consolas, Menlo;

$font-size-body: 14px;

$space-base: 16px !default;
$space-x-base: $space-base !default;
$space-y-base: $space-base !default;

$space-none: (x: 0, y: 0) !default;
$space-xs: (x: ($space-x-base * .25), y: ($space-y-base * .25)) !default;
$space-sm: (x: ($space-x-base * .5), y: ($space-y-base * .5)) !default;
$space-md: (x: $space-x-base, y: $space-y-base) !default;
$space-lg: (x: ($space-x-base * 1.5), y: ($space-y-base * 1.5)) !default;
$space-xl: (x: ($space-x-base * 3), y: ($space-y-base * 3)) !default;



$primary: #1976D2 !default;
$secondary: #26A69A !default;
$purple: #9C27B0 !default;
$positive: #21BA45 !default;
$error: #C10015 !default;
$info: #31CCEC !default;
$warning: #F2C037 !default;
$grey: #9e9e9e !default;
$white: #ffffff !default;
$black: #000000 !default;
// used by dark mode
$dark-page: #121212 !default;
$dark: #1d1d1d !default;

$bg-color-primary: $primary !default;
$bg-color-secondary: $secondary !default;
$bg-color-purple: $purple !default;
$bg-color-dark: $dark-page !default;


$separator-color: rgba(0, 0, 0, .12) !default;
$separator-dark-color: rgba(255, 255, 255, .28) !default;

$disabled-border-color:rgba(118, 118, 118, 0.3) !default;
$disabled-bg-color: rgb(245, 245, 245) !default;


$button-size-xs: 12px !default;
$button-size-sm: 14px !default;
$button-size-md: 16px !default;
$button-size-lg: 18px !default;
$button-size-xl: 20px !default;

$button-opacity: 0.8 !default;
$button-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.141), 0 3px 1px -2px rgba(0, 0, 0, 0.122) ;
$button-box-shadow-active:0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 5px 8px rgba(0, 0, 0, 0.141), 0 1px 14px rgba(0, 0, 0, 0.122) !default;

$avatar-size-xs: 24px !default;
$avatar-size-sm: 32px !default;
$avatar-size-md: 40px !default;
$avatar-size-lg: 48px !default;
$avatar-size-xl: 56px !default;
